# Python
tutorials/
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Environment files
.env

# Temporary Microsoft Office files
~$*

# Ignore local study documents
AI-103_Master_Exam_Bible_Anish.docx